Source: liba53
Section: comm
Priority: optional
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Homepage: http://www.rangenetworks.com/
Build-Depends: build-essential, debhelper (>= 7), pkg-config
Standards-Version: 3.7.3

Package: liba53
Section: comm
Priority: optional
Architecture: any
Essential: no
Depends: libc6, pkg-config
Description: A5/3 call encryption library
